body {
    font-family: "Varela Round";
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: white;
    font-family: "Varela Round";
    padding-top: 50px;
}

input.font-size-100 {
    font-size: 100%;
    color: black;
}


.top-buffer {
        margin-top: 20px;
    }

select {
    color: black;
}

.input-field {
    max-width: 25%;
}


.footer {
    color: white;
}


.page-title {
    font-family: Helvetica, Arial, sans serif;
    font-size: 150%;
}

a {
    color: #afeeee;
}

a:hover {
    color: white;
}

h1 {
    font-family: "Helvetica";
}

.navbar-default {
    background-color: #aa076b;
    border-color: #ffffff;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #61045f;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #61045f;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #aa076b;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #61045f;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #61045f;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #61045f;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #61045f;
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle {
    border-color: #ffffff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #61045f;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #61045f;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #61045f;
      background-color: #ffffff;
    }
  }