.top-buffer {
        margin-top: 20px;
    }

.background-logo {
    background-size: auto;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 30%),
    -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.01) 30%),
    url(./background.png) no-repeat;
    height: 246px;


    /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+14,ffffff+14,ffffff+100&1+14,0+100 */
}

.important {
    color: #336699;
}

.form-control {
    background: transparent;
}

.btn {
    background: transparent;
}

.input-field {
    max-width: 25%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0
  }

  section {background-size: cover; background-position: center center;}

  .logic-field {
      background-size: cover;
      background: radial-gradient(ellipse, #5AADF1, #FFFFFF);

  }