<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JQUERY UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

    <!-- JQUERY VALIDATE -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    <!-- User defined -->
    {% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" /> {% endblock stylesheets %}
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename='ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff"> {% block title %}{% endblock title %} {% endblock head %}
</head>

<body>
    <!-- NAVBAR -->
    {% block navbar %}
    <nav class="navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static', filename='ge-logo.svg')}}" width="25" height="25">
                </a>
            </dif>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/roulette">PD Wheel of Fortune</a>
                </li>
                <li>
                    <a href="/ig">PD Insights Generator</a>
                </li>
                <li>
                    <a href="/hrbot">HR Bot</a>
                </li>
                {% if total_spins %}
                <li>
                    <div class="navbar-text">Total Spins stored: {{ total_spins }} </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
    <!-- END NAVBAR-->
    <!-- CONTENT -->
    {% block content %} {% endblock %}
    <!-- END CONTENT-->
    {% block footer %}
    <div class="footer navbar-fixed-bottom">
        <div class="col-md-12 text-right">
            &copy; 2017 by
            <strong>Oleg Khomenko</strong>, oleg.khomenko@ge.com, GE Russia/CIS
        </div>
    </div>
    {% endblock %}
    <script>
        // This one is used for making navbar elements active
        $(document).ready(function () {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });
    </script>
</body>

</html>