{% extends "base_no_bs.html" %}
{% block head %}{{super()}} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>
                <strong>
                Bot for <i class="fa fa-telegram"></i> will be available soon..
                <br>
            </strong>
            </h1>
        </div>
    </div>
</div>
{% endblock %}