{% extends "base_no_bs.html" %} {% block title %}
<title>Insight Generator</title>{% endblock %} {% block head %} {{ super() }}
<!-- Vue.js -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<!-- BOOTBOX-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<!-- Selectize.js-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css" />

<!-- FullPage-->
<script src="/static/jquery.fullPage.css"></script>
<script src="/static/jquery.fullPage.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='ig.css')}}"> {% endblock %} {% block content %} {%raw%}
<div id="app">
    <div id="fullpage">

        <section id="section1" class="section">
            <div class="container">
                <div class="row">
                    <div class="navbar background-logo col-md-10">
                        <h2 class="small-header">Step 1: Construct greeting. CONTINUE or CONSIDER</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <p>It's a tool to help you express your feedack, friendly advice, "CONTINUE" or "CONSIDER" to your people
                            leader, teammate, peer or juniour employee</p>
                        <p>No more suffers while seeking for the right words... no more struggles to make it impactful and polite
                        </p>
                        <p>Just follow 3 easy steps to construct impactful insight, modify it to your taste and bring it to
                            PD
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p id="label0">{{label0}}</p>
                    <input id="inputName" class="form-control input" @change="updateName" v-model="name" type="text"></input>
                </div>
                <div class="row">
                    <p id="label3">{{label3}}</p>
                    <div id="uid2">
                        <select v-model="selected" @change="onChange" class="btn btn-secondary btn-block dropdown-toggle">
                                        <option disabled value="">Choose an option</option>
                                        <option v-for="option in options" :value="option.Value">
                                            {{option.Text}}
                                        </option>
                                    </select>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <button class="btn btn-primary btn-block slideDown">Next step</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="section2" class="section">
            <div class="container">
                <div class="row">
                    <h2 class="small-header">Step 2: Select behaviour to be continued/considered</h2>
                </div>
                <div class="row">
                    <p id="label4">{{label4}}</p>
                    <div id="uid3">
                        <select v-model="selected" @change="onChange" class="btn btn-secondary btn-block dropdown-toggle">
                                        <option disabled value="">Choose an option</option>
                                        <option v-for="option in options" :value="option.Value">
                                            {{option.Text}}
                                        </option>
                        </select>
                        <br>
                    </div>
                </div>
                <!-- BUCKETS WITH BELIEFS -->
                <div id="buckets">
                    <div class="row">
                        <div :class="'col-md-2 bucket' + ind" v-if="private.buckets!=null" v-for="(bucket, ind) in private.buckets">
                            <small>{{bucket.name}}</small>
                            <div v-for="(belief, index) in bucket.beliefs">
                                <input type="radio" :id="belief.name" :value="belief.name" v-model="private.selected" @change="onChange">
                                <label :for="belief.name"><small>{{belief.name}}</small></label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3>Selected Belief:</h3> {{private.selected}}
                        </div>
                    </div>
                </div>
                <br>
                <!-- SELECT SPECIFIC BEHAVIOUR CONTINUE / CONSIDER-->
                <div class="row">
                    <p id="label7">{{label7}}</p>
                    <div id="uid50">
                        <select v-model="selected" @change="onChange" class="btn btn-secondary btn-block dropdown-toggle">
                                            <option disabled value="">Choose an option</option>
                                            <option v-for="option in options" :value="option.Value">
                                                {{option.Text}}
                                            </option>
                                 </select>
                        <br>
                    </div>
                </div>
                <!-- HASH TAGS -->
                <div class="row display-none">
                    <p id="label8">{{label8}}</p>
                    <v-select multiple v-model="selected" id="vselect" :options="options"></v-select>
                    <br>
                </div>
                <!-- BTN, NEXT STEP -->
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <button class="btn btn-primary btn-block slideDown">Next step</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="section3" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Step 3: Select potential positive impact of your<br> continue/consider and generate insight</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Select specific behaviour anchor which should be impacted by your insight -->
                    <p id="label10">{{label10}}</p>
                    <div id="uid9">
                        <select v-model="selected" @change="onChange" class="btn btn-secondary btn-block dropdown-toggle">
                                    <option disabled value="">Choose an option</option>
                                    <option v-for="option in options" :value="option.Value">
                                        {{option.Text}}
                                    </option>
                                </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- Select closing phrase -->
                    <p id="label14">{{label14}}</p>
                    <div id="uid10">
                        <select v-model="selected" @change="onChange" class="btn btn-secondary btn-block dropdown-toggle">
                                    <option disabled value="">Choose an option</option>
                                    <option v-for="option in options" :value="option.Value">
                                        {{option.Text}}
                                    </option>
                                </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <button class="btn btn-primary btn-block slideDown">Generate</button>
                    </div>
                </div>
        </section>
        <section id="section4" class="section"><br>
            <div class="container">
                <h2>Step 4: Edit it & Bring it to PD</h2>
                <div class="row">
                    <div id="finalText">
                        <transition name="fade">
                            <p>
                                <textarea class="form-control" id="finalTextBox" rows=6>{{text}}</textarea>
                            </p>
                        </transition>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button id="backToStart" class="btn btn-primary btn-block">Start from beginning</button>
                    </div>
                    <div class="col-md-6" id="CopyToClipboard">
                        <button @click="Copy" class="btn btn-primary btn-block">Copy to Clipboard</button>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </div>
</div>
<!-- SCRIPT SECTION-->
{%endraw%}
<div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script>
        function getValuesByOptionChosen(value) {
            return value['Parent'] == Parent;
        }

        function getValuesFromDict(dict) {
            for (keys in dict) {
                var elements = dict[keys];
            }
            return elements;
        }

        // Get random Sample from Array
        function randomSample(object) {
            var keys = Object.keys(object);
            return object[keys[Math.floor(keys.length * Math.random())]];
        };


        // Prepare Data from JSON
        var data = JSON.parse('{{ data | tojson }}');

        var bucketsfull = [
            {
                name: 'CUSTOMERS DETERMINE OUR SUCCESS',
                beliefs: [
                    { name: 'Passionate Customer Connection', value: 0 },
                    { name: 'Make Customer Priorities Your Priorities', value: 1 },
                    { name: 'Communication and Validation with Customer', value: 2 },
                    { name: 'Make it easy for Customer to do business', value: 3 }
                ]
            },
            {
                name: 'LEARN AND ADAPT TO WIN',
                beliefs: [
                    { name: 'Fail fast and be resilient', value: 8 },
                    { name: 'Welcome change', value: 9 },
                    { name: 'Evolve', value: 10 },
                    { name: 'Outcomes even over process', value: 11 }
                ]
            },
            {
                name: 'STAY LEAN TO GO FAST',
                beliefs: [
                    { name: 'Focus on what\u2019s most critical', value: 4 },
                    { name: 'Default to simplicity', value: 5 },
                    { name: 'Be lean & flexible', value: 6 },
                    { name: 'Act with urgency', value: 7 }
                ]
            },
            {
                name: 'EMPOWER AND INSPIRE EACH OTHER',
                beliefs: [
                    { name: 'Embrace empowerment/Empower others', value: 12 },
                    { name: 'Speak up - Listen up', value: 13 },
                    { name: 'Add value to the team', value: 14 },
                    { name: 'Exceptional team player/Promote development', value: 15 }
                ]
            },
            {
                name: 'DELIVER RESULTS IN AN UNCERTAIN WORLD',
                beliefs: [
                    { name: 'Be bold', value: 16 },
                    { name: 'Play to win', value: 17 },
                    { name: 'Take action', value: 18 },
                    { name: 'Visionary', value: 19 },
                ]
            }
        ]

        {% for i in range(0, 15) %}            
        new Vue({
            el: '#label{{i}}',
            data: {
                "label{{i}}": data[{{i }}]['Label']
                }
            });
        {% endfor %}

        // Init. First field for First/Last Names
        var inputName = new Vue({
            el: '#inputName',
            data: {
                name: ''
            },
            methods: {
                updateName: function (event) {
                    finalText.updateText(0, greetings.getGreetings(this.name));
                }
            }
        });


        // Vue Select
        Vue.component('v-select', VueSelect.VueSelect);
        new Vue({
            el: '#vselect',
            data: {
                selected: '',
                options: ['#Helped', '#Motivates', '#Inspires', '#SupportsMe', '#Listens to people']
            }
        });




        var greetings = new Vue({
            // greetings
            data: {
                options: data[1].Options,
                selected: ''
            },
            methods: {
                getGreetings: function (name) {
                    return this.selected['Text'].replace("___", name);
                }
            },
            created: function () {
                this.selected = randomSample(this.options);
            },
        })


        var firstConnectorPhrase = new Vue({
            data: {
                selected: '',
                options: data[2].Options
            },
            created: function () {
                this.selected = randomSample(this.options);
            }
        })

        var secondConnectorPhrase = new Vue({
            data: {
                selected: '',
                options: data[13].Options
            },
            created: function () {
                this.selected = randomSample(this.options);
            }
        })

        var list2 = new Vue({
            // Select the CONTINUE or CONSIDER phrase
            el: '#uid2',
            data: {
                selected: '',
                options: data[3].Options,
            },
            methods: {
                onChange: function (event) {
                    finalText.updateText(2, this.options[this.selected].Text);
                },
            }
        })

        var list3 = new Vue({
            // Select the role of person you want to give insight
            el: '#uid3',
            data: {
                selected: '',
                options: data[4].Options,
            },
            methods: {
                onChange: function (event) {
                    list4.update(event.srcElement.value);
                }
            }
        })

        var list4 = new Vue({
            el: '#uid4',
            data: {
                selected: '',
                options: data[5].Options,
                name: ''
            },
            methods: {

                update: function (value) {
                    res = {}
                    for (key in data[5].Options) {
                        if (data[5].Options[key]['Parent'] == value) {
                            res[key] = data[5].Options[key];
                        }
                    }
                    this.options = res;
                },

                onChange: function (event) {
                    list5.update(event.srcElement.value);
                },
            }
        })

        //Select specific behaviour to CONTINUE/CONSIDER
        var list5 = new Vue({
            el: '#uid50',
            data: {
                selected: '',
                options: data["6"].Options
            },
            methods: {

                update: function (value) {
                    res = {}
                    for (key in data["6"].Options) {
                        if (data["6"].Options[key]['Parent'] == value) {
                            res[key] = data["6"].Options[key];
                        }
                    }
                    this.options = res;
                },

                onChange: function (event) {
                    finalText.updateText(5, this.options[this.selected].Text);
                },
            }
        })

        var list6 = new Vue({
            el: '#uid6',
            data: {
                selected: '',
                options: data["7"].Options,
                name: ''
            },
            methods: {
                onChange: function (event) {
                    finalText.updateText(6, this.options[this.selected].Text);
                },
            }
        })

        var beliefs = new Vue({
            data: {
                selected: '',
                options: data["9"].Options,
                filterValue: ''
            },
            methods: {
                update: function (value) {
                    res = {};
                    for (key in data["9"].Options) {
                        if (data["9"].Options[key]['Parent'] == value) {
                            res[key] = data["9"].Options[key];
                        }
                    }
                    this.options = res;
                },

                onChange: function (event) {
                    behaviourAnchor.update(event.srcElement.value);
                },
            }
        })

        var behaviourAnchor = new Vue({
            el: '#uid9',
            data: {
                selected: '',
                options: data[10].Options,
            },
            methods: {

                update: function (value) {
                    res = {}
                    for (key in data["10"].Options) {
                        if (data["10"].Options[key]['Parent'] == value) {
                            res[key] = data["10"].Options[key];
                        }
                    }
                    this.options = res;
                },

                onChange: function (event) {
                    finalText.updateText(9, this.options[this.selected].Text);
                },
            }
        })

        var list10 = new Vue({
            el: '#uid10',
            data: {
                selected: '',
                options: data["11"].Options,
                name: ''
            },
            methods: {
                onChange: function (event) {
                    finalText.updateText(10, this.options[this.selected].Text);
                },
            }
        })


        var buckets = new Vue({
            el: '#buckets',
            data: {
                private: {
                    selected: 'None',
                    buckets: bucketsfull
                }
            },
            methods: {
                onChange: function (event) {
                    // Debug
                    console.log(`${this.private.selected} was selected`);

                    // Finding Belief value
                    var val = -1;
                    for (el in beliefs.options) {
                        if (beliefs.options[el]['Text'] == this.private.selected) {
                            var val = el;
                            console.log(el);
                        }
                    }

                    // Updating "Select specific behaviour to CONTINUE/CONSIDER"
                    list5.update(val);
                    // Updating behaviour Anchor
                    behaviourAnchor.update(val);
                },

                update: function (value) {
                    var res = Object.assign({}, bucketsfull);
                    for (bucket in res) {
                        for (belief in bucket) {
                            if (res[bucket].beliefs[belief].value != value) {
                                console.log(`DEL THIS ONE${res[bucket].beliefs[belief]}`)
                            } else {
                                console.log(`KEEP THIS oNE${res[bucket].beliefs[belief]}`)
                            }
                        }
                    }
                    this.private.buckets = res;
                },
            }
        })

        // Final Text
        var finalText = new Vue({
            el: "#finalText",
            data: {
                arr: [],
                text: '',
                show: false
            },
            methods: {
                updateText: function (key, element) {
                    this.arr[key] = element;
                    this.text = '';
                    for (el in this.arr) {
                        if (el == 0) {
                            this.text = this.arr[el];
                        }
                        else {
                            this.text = this.text + " " + this.arr[el];
                        }
                    }
                }
            },
            created: function () {
                this.updateText(1, firstConnectorPhrase.selected.Text);
                this.updateText(8, secondConnectorPhrase.selected.Text);
            }
        })

        var CopyToClipboard = new Vue({
            el: '#CopyToClipboard',
            methods: {
                Copy: function () {
                    document.getElementById("finalTextBox").select();
                    var successful = document.execCommand('copy');
                    bootbox.alert({
                        message: "Copied to clipboard",
                        backdrop: true
                    });
                }
            }
        })

        var SCROLLING_SPEED = 300;
        $(document).ready(function () {
            $('#fullpage').fullpage({
                scrollingSpeed: SCROLLING_SPEED,
                anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage'],
                menu: '#imageGallery',
                navigation: true,
                scrollingSpeed: SCROLLING_SPEED,
            });
        });

        $('.slideDown').click(function () {
            $.fn.fullpage.moveSectionDown();
        });

        $('#backToStart').click(function () {
            // list0.selected = ''; // Don't know what exactly this was
            // list1.selected = '';
            list2.selected = '';
            list3.selected = '';
            list4.selected = '';
            list5.selected = '';
            // list51.selected = ''; // Hashtags
            list6.selected = '';
            // list7.selected = '';
            // list8.selected = '';
            // list9.selected = '';
            list10.selected = '';
            inputName.name = '';
            finalText.arr = [];
            finalText.text = '';     
            $.fn.fullpage.moveTo('firstPage');
            location.reload();
        });
    </script>
</div>
{% endblock %}