{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}


{% endblock %} {% block content %}

    
        
        <div class="container">
            <div class="navbar background-logo col-md-12 col-md-offset-3">
                <h1>PD Insights Generator</h1>
            </div>
            <div class="row">
                <p>Enter the name</p>
                <input id="inputName" class="form-control" v-model="name"></input>
            </div><br>
            
            <div class="row">
                <p>Question 1</p>
                <div id="idd0">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>

            <div class="row">
                <p>Question 2</p>
                <div id="idd1">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>
                
            <div class="row">
                <p>Question 3</p>
                <div id="idd2">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>


        </div>

        

  
    

    
            
            <div class="container">
                <div class="row">
                    <p>Question 4</p>
                    <div id="idd3">
                        <select v-model="selected" v-on:change="onChange" class="form-control">
                            <option disabled value="">Выберите один из вариантов</option>   
                                {%raw%}
                                    <option v-for="option in options" v-bind:value="option.Value">
                                        {{option.Text}}
                                    </option>
                                {%endraw%}
                        </select><br>
                    </div>
                </div>
    
                <div class="row">
                    <p>Question 5</p>
                    <div id="idd4">
                        <select v-model="selected" v-on:change="onChange" class="form-control">
                            <option disabled value="">Выберите один из вариантов</option>   
                                {%raw%}
                                    <option v-for="option in options" v-bind:value="option.Value">
                                        {{option.Text}}
                                    </option>
                                {%endraw%}
                        </select><br>
                    </div>
                </div>
                    
                <div class="row">
                    <p>Question 6</p>
                    <div id="idd5">
                        <select v-model="selected" v-on:change="onChange" class="form-control">
                            <option disabled value="">Выберите один из вариантов</option>   
                                {%raw%}
                                    <option v-for="option in options" v-bind:value="option.Value">
                                        {{option.Text}}
                                    </option>
                                {%endraw%}
                        </select><br>
                    </div>
                </div>
    
    
            </div>
           
            
    
        
        
       
                
                <div class="container">
                    <div class="row">
                        <p>Question 7</p>
                        <div id="idd6">
                            <select v-model="selected" v-on:change="onChange" class="form-control">
                                <option disabled value="">Выберите один из вариантов</option>   
                                    {%raw%}
                                        <option v-for="option in options" v-bind:value="option.Value">
                                            {{option.Text}}
                                        </option>
                                    {%endraw%}
                            </select><br>
                        </div>
                    </div>
        
                    <div class="row">
                        <p>Question 8</p>
                        <div id="idd7">
                            <select v-model="selected" v-on:change="onChange" class="form-control">
                                <option disabled value="">Выберите один из вариантов</option>   
                                    {%raw%}
                                        <option v-for="option in options" v-bind:value="option.Value">
                                            {{option.Text}}
                                        </option>
                                    {%endraw%}
                            </select><br>
                        </div>
                    </div>
                        
                    <div class="row">
                        <p>Question 9</p>
                        <div id="idd8">
                            <select v-model="selected" v-on:change="onChange" class="form-control">
                                <option disabled value="">Выберите один из вариантов</option>   
                                    {%raw%}
                                        <option v-for="option in options" v-bind:value="option.Value">
                                            {{option.Text}}
                                        </option>
                                    {%endraw%}
                            </select><br>
                        </div>
                    </div>

                    <div class="row">
                    <p>Question 10</p>
                    <div id="idd9">
                        <select v-model="selected" v-on:change="onChange" class="form-control">
                            <option disabled value="">Выберите один из вариантов</option>   
                                {%raw%}
                                    <option v-for="option in options" v-bind:value="option.Value">
                                        {{option.Text}}
                                    </option>
                                {%endraw%}
                        </select><br>
                    </div>
                </div>

                <div class="row">
                <p>Question 11</p>
                <div id="idd10">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>
        
        
        
                </div>
                
        
          
            

        
                
                <div id="finalText"><br><br><br><br>
                <button v-on:click="show=!show" class="btn-block">Generate</button>
                <transition name="fade">
                    <p>
                        <textarea v-if="show" class="form-control">{%raw%}{{text}}{%endraw%}</textarea>
                    </p>
                </transition>
        
            </div>
            
<!-- FOOTER -->



<!-- SCRIPT SECTION-->
<script>
    function getValuesByOptionChosen(value) {
        return value['Parent'] == Parent;
    }

    function getValuesFromDict(dict) {
        for (keys in dict) {
            var elements = dict[keys];
        }
        return elements;
    }


    var data = JSON.parse('{{ data | tojson }}');

    var inputName=new Vue({
        el: '#inputName',
        data: {
            name: ''
        },
        methods: {
            returnName: function() {
                return this.name;
            }
        }
    })
    
    var list0 = new Vue({
        el: '#idd0',
        data: {
            selected: '',
            options: data["1"].Options,
            name: ''
        },
        methods: {
            onChange: function (event) {
                list1.update(event.srcElement.value);

                finalText.updateText(0, this.options[this.selected]);
            },
        }
    })

    var list1 = new Vue({
        el: '#idd1',
        data: {
            selected: '',
            options: data["2"].Options
        },
        methods: {
            update: function (value) {
                // 
                res = {}
                for (key in data["2"].Options) {
                    if (data["2"].Options[key]['Parent'] == value) {
                        res[key] = data["2"].Options[key];
                    }
                }

                this.options = res;
            },
            onChange: function (event) {
                finalText.updateText(1, this.options[this.selected]);
            }
        }

    })

   
    

    var finalText = new Vue({
        el: "#finalText",
        data: {
            arr: [],
            text: '',
            show: false
        },
        methods: {
            updateText: function (key, element) {
                this.arr[key] = element["Text"];
                this.text="";
                if (key==0){
                    this.arr[key]=this.arr[key].replace("___",inputName.returnName());
                }
                for (el in this.arr){
                    this.text = this.text + " " + this.arr[el];
                }

            },
            makeTextVisible: function () {

            }
        }
    })




    $(document).ready(function () {
        $('#fullpage').fullpage({
            navigation: true,
        });
    });

</script>
{% endblock %}
