{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}


{% endblock %} {% block content %}
<div id=fullpage>
    
    <section id="section1" class="section">    
        <div class="container">
            
            <div class="navbar background-logo col-md-12 col-md-offset-3">
                <h1>PD@GE: Insights Draft Assistant</h1>
                <h2>Step1: Construct greeting.</h2>
            </div>
            
            <div class="row">
                <p id="label1">{%raw%}{{label1}}{%endraw%}</p>
                <input id="inputName" class="form-control" v-model="name"></input>
            </div><br>
            
            <div class="row">
                <p id="label2">{%raw%}{{label2}}{%endraw%}</p>
                <div id="idd0">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>

            <div class="row">
                <p id="label3">{%raw%}{{label3}}{%endraw%}</p>
                <div id="idd1">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>
                
            <div class="row">
                <p id="label4">{%raw%}{{label4}}{%endraw%}</p>
                <div id="idd2">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button type="button1" class="btn btn-primary btn-block slideDown" id="button1" href="#">Next step</button>
                </div>
                <div class="col-md-5"></div>
            </div>


        </div>
    </section>
 
   

    
    <section id="section2" class="section "><br>
        <div class="container">       
            <div class="navbar background-logo col-md-12 col-md-offset-3">
                <h1>PD@GE: Insights Draft Assistant</h1>
                <h2>Step1: Construct greeting.</h2>
            </div>
            <div class="row">
                <div class = "col-sm-5">
                    <div class="row">
                        <p id="label5">{%raw%}{{label5}}{%endraw%}</p>
                        <div id="idd3">
                            <select v-model="selected" v-on:change="onChange" class="form-control">
                                <option disabled value="">Выберите один из вариантов</option>   
                                    {%raw%}
                                        <option v-for="option in options" v-bind:value="option.Value">
                                            {{option.Text}}
                                        </option>
                                    {%endraw%}
                            </select><br>
                        </div>
                    </div>

                    <div class="row">
                        <p id="label6">{%raw%}{{label6}}{%endraw%}</p>
                        <div id="idd4">
                            <select v-model="selected" v-on:change="onChange" class="form-control">
                                <option disabled value="">Выберите один из вариантов</option>   
                                    {%raw%}
                                        <option v-for="option in options" v-bind:value="option.Value">
                                            {{option.Text}}
                                        </option>
                                    {%endraw%}
                            </select><br>
                        </div>
                    </div>
                        
                    <div class="row">
                        <p id="label7">{%raw%}{{label7}}{%endraw%}</p>
                        <div id="idd50">
                            <select v-model="selected" v-on:change="onChange" class="form-control">
                                <option disabled value="">Выберите один из вариантов</option>   
                                    {%raw%}
                                        <option v-for="option in options" v-bind:value="option.Value">
                                            {{option.Text}}
                                        </option>
                                    {%endraw%}
                            </select><br>
                        </div>
                    </div>
                </div>
                <div class = "col-sm-2"></div>
                <div class = "col-sm-5">
                    <div class="row">
                        <p id="label8">{%raw%}{{label8}}{%endraw%}</p>
                        <input id="inputHashtag" class="form-control" v-model="hashtag"  v-on:input= "hashtagChanged"></input><br>
                    </div>
                    <div class="row" id="idd51">
                            <p id="label9">{%raw%}{{label9}}{%endraw%}</p>
                            <select v-model="selected" v-on:change="onChange" class="form-control">
                                    <option disabled value="">Выберите один из вариантов</option>   
                                        {%raw%}
                                            <option v-for="option in options" v-bind:value="option.Value">
                                                {{option.Text}}
                                            </option>
                                        {%endraw%}
                                </select><br>

                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button id="button1", class="btn btn-primary btn-block slideDown">Next step</button>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </section>    
            
    
        
        
       
    <section id="section3" class="section">        
        <div class="container">
            <div class="navbar background-logo col-md-12 col-md-offset-3">
                <h1>PD@GE: Insights Draft Assistant</h1>
                <h2>Step1: Construct greeting.</h2>
            </div>
            <div class="row">
                <p id="label10">{%raw%}{{label10}}{%endraw%}</p>
                <div id="idd6">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>
            <div class= "container logic-field">
                <div class="row">
                    <p id="label11">{%raw%}{{label11}}{%endraw%}</p>
                    <div id="idd7">
                        <select v-model="selected" v-on:change="onChange" class="form-control">
                            <option disabled value="">Выберите один из вариантов</option>   
                                {%raw%}
                                    <option v-for="option in options" v-bind:value="option.Value">
                                        {{option.Text}}
                                    </option>
                                {%endraw%}
                        </select><br>
                    </div>
                </div>
                    
                <div class="row">
                    <p id="label12">{%raw%}{{label12}}{%endraw%}</p>
                    <div id="idd8">
                        <select v-model="selected" v-on:change="onChange" class="form-control">
                            <option disabled value="">Выберите один из вариантов</option>   
                                {%raw%}
                                    <option v-for="option in options" v-bind:value="option.Value">
                                        {{option.Text}}
                                    </option>
                                {%endraw%}
                        </select><br>
                    </div>
                </div>

                <div class="row">
                    <p id="label13">{%raw%}{{label13}}{%endraw%}</p>
                    <div id="idd9">
                        <select v-model="selected" v-on:change="onChange" class="form-control">
                            <option disabled value="">Выберите один из вариантов</option>   
                                {%raw%}
                                    <option v-for="option in options" v-bind:value="option.Value">
                                        {{option.Text}}
                                    </option>
                                {%endraw%}
                        </select><br>
                    </div>
                </div>
            </div>

            <div class="row">
                <p id="label14">{%raw%}{{label14}}{%endraw%}</p>
                <div id="idd10">
                    <select v-model="selected" v-on:change="onChange" class="form-control">
                        <option disabled value="">Выберите один из вариантов</option>   
                            {%raw%}
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{option.Text}}
                                </option>
                            {%endraw%}
                    </select><br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button id="button1", class="btn btn-primary btn-block slideDown">Next step</button>
                </div>
                <div class="col-md-5"></div>
            </div>

        </div>
    </section>
    
    <section id="section4" class= "section"<br>
        <div class="container">
            <div class="navbar background-logo col-md-12 col-md-offset-3">
                <h1>PD@GE: Insights Draft Assistant</h1>
                <h2>Step1: Construct greeting.</h2>
            </div>
            <div class="row">

            </div>
            <div class= "row">
                <div id="finalText"><br>
                    <transition name="fade">
                        <p>
                            <textarea class="form-control" id="finalTextBox" rows=6>{%raw%}{{text}}{%endraw%} </textarea>
                        </p>
                    </transition>
        
                </div>
            </div>
            <div class = "row">
                    <div class="col-md-6">
                        <button id="BackToStart", class="btn btn-primary btn-block">Start from beginning</button>
                    </div>
                    <div class="col-md-6" id="CopyToClipboard">
                        <button v-on:click="Copy" class="btn btn-primary btn-block">Copy to Clipboard</button>
                    </div>
            </div>
        </div>

    </section>
              
        
          
            

        
           
       

            
</div>


<!-- SCRIPT SECTION-->
<script>

    function getValuesByOptionChosen(value) {
        return value['Parent'] == Parent;
    }

    function getValuesFromDict(dict) {
        for (keys in dict) {
            var elements = dict[keys];
        }
        return elements;
    }


    var data = JSON.parse('{{ data | tojson }}');

    new Vue({
        el: '#label1',
        data: {label1: data["1"]['Label']}
    })

    new Vue({
        el: '#label2',
        data: {label2: data["2"]['Label']}
    })

    new Vue({
        el: '#label3',
        data: {label3: data["3"]['Label']}
    })

    new Vue({
        el: '#label4',
        data: {label4: data["4"]['Label']}
    })

    new Vue({
        el: '#label5',
        data: {label5: data["5"]['Label']}
    })

    new Vue({
        el: '#label6',
        data: {label6: data["6"]['Label']}
    })

    new Vue({
        el: '#label7',
        data: {label7: data["7"]['Label']}
    })

    new Vue({
        el: '#label8',
        data: {label8: data["8"]['Label']}
    })

    new Vue({
        el: '#label9',
        data: {label9: data["9"]['Label']}
    })

    new Vue({
        el: '#label10',
        data: {label10: data["10"]['Label']}
    })

    new Vue({
        el: '#label11',
        data: {label11: data["11"]['Label']}
    })

    new Vue({
        el: '#label12',
        data: {label12: data["12"]['Label']}
    })

    new Vue({
        el: '#label13',
        data: {label13: data["13"]['Label']}
    })

    new Vue({
        el: '#label14',
        data: {label14: data["14"]['Label']}
    })

    var inputName=new Vue({
        el: '#inputName',
        data: {
            name: ''
        },
        methods: {
            returnName: function() {
                return this.name;
            }
        }
    })

    var inputHashtag=new Vue({
        el: '#inputHashtag',
        data: {
            hashtag: '',
        },
        methods: {
            returnHashtag: function() {
                return this.hashtag;
            },
            hashtagChanged: function(){
                list51.update(this.hashtag.split(' '));
            }
        }
    })
    
    var list0 = new Vue({
        el: '#idd0',
        data: {
            selected: '',
            options: data["1"].Options,
            name: ''
        },
        methods: {
            onChange: function (event) {

                finalText.updateText(0, this.options[this.selected]);
            },
        }
    })

    var list1 = new Vue({
        el: '#idd1',
        data: {
            selected: '',
            options: data["2"].Options
        },
        methods: {

            update: function (value) {
                res = {}
                for (key in data["2"].Options) {
                    if (data["2"].Options[key]['Parent'] == value) {
                        res[key] = data["2"].Options[key];
                    }
                }
                this.options = res;
            },

            onChange: function (event) {
                finalText.updateText(1, this.options[this.selected]);
            }
        }

    })

    var list2 = new Vue({
        el: '#idd2',
        data: {
            selected: '',
            options: data["3"].Options,
            name: ''
        },
        methods: {
            onChange: function (event) {
                finalText.updateText(2, this.options[this.selected]);
            },
        }
    })

    var list3 = new Vue({
        el: '#idd3',
        data: {
            selected: '',
            options: data["4"].Options,
            name: ''
        },
        methods: {
            onChange: function (event) {
                list4.update(event.srcElement.value);
            }
        }
    })

    var list4 = new Vue({
        el: '#idd4',
        data: {
            selected: '',
            options: data["5"].Options,
            name: ''
        },
        methods: {

            update: function (value) {
                res = {}
                for (key in data["5"].Options) {
                    if (data["5"].Options[key]['Parent'] == value) {
                        res[key] = data["5"].Options[key];
                    }
                }
                this.options = res;
            },

            onChange: function (event) {
                list5.update(event.srcElement.value);
            },
        }
    })

    var list5 = new Vue({
        el: '#idd50',
        data: {
            selected: '',
            options: data["6"].Options,
            name: ''
        },
        methods: {

            update: function (value) {
                res = {}
                for (key in data["6"].Options) {
                    if (data["6"].Options[key]['Parent'] == value) {
                        res[key] = data["6"].Options[key];
                    }
                }
                this.options = res;
            },

            onChange: function (event) {
                list51.selected='';
                finalText.updateText(5, this.options[this.selected]);
            },
        }
    })

    var list51 = new Vue({
        el: '#idd51',
        data: {
            selected: '',
            options: data["6"].Options,
            name: '',
            test: {}
        },
        methods: {

            update: function (value) {
                var res1= {Point:"Empty"};
                var res = data["6"]["Options"].slice();
                this.test=res;
                for (item in value){
                    if (res1["Point"]!="Empty"){res=res1;}
                    res1 = {};
                    for (key in res) {
                       // alert(String(res[key]['Hashtag'])+"  "+value[item]);
                        if (String(res[key]['Hashtag']).indexOf(value[item]) !=-1) {
                            res1[key]=res[key];
                        }
                    }
                }
                this.options = res1;
            },

            onChange: function (event) {
                list5.selected='';
                finalText.updateText(5, this.options[this.selected]);
            },
        }
    })

    var list6 = new Vue({
        el: '#idd6',
        data: {
            selected: '',
            options: data["7"].Options,
            name: ''
        },
        methods: {
            onChange: function (event) {
                finalText.updateText(6, this.options[this.selected]);
            },
        }
    })

    var list7 = new Vue({
        el: '#idd7',
        data: {
            selected: '',
            options: data["8"].Options,
            name: ''
        },
        methods: {
            onChange: function (event) {
                list8.update(event.srcElement.value);
            },
        }
    })

    var list8 = new Vue({
        el: '#idd8',
        data: {
            selected: '',
            options: data["9"].Options,
            name: ''
        },
        methods: {

            update: function (value) {
                res = {}
                for (key in data["9"].Options) {
                    if (data["9"].Options[key]['Parent'] == value) {
                        res[key] = data["9"].Options[key];
                    }
                }
                this.options = res;
            },

            onChange: function (event) {
                list9.update(event.srcElement.value);
            },
        }
    })

    var list9 = new Vue({
        el: '#idd9',
        data: {
            selected: '',
            options: data["10"].Options,
            name: ''
        },
        methods: {
            
            update: function (value) {
                res = {}
                for (key in data["10"].Options) {
                    if (data["10"].Options[key]['Parent'] == value) {
                        res[key] = data["10"].Options[key];
                    }
                }
                this.options = res;
            },

            onChange: function (event) {
               finalText.updateText(9, this.options[this.selected]);
            },
        }
    })

    var list10 = new Vue({
        el: '#idd10',
        data: {
            selected: '',
            options: data["11"].Options,
            name: ''
        },
        methods: {
            onChange: function (event) {
                finalText.updateText(10, this.options[this.selected]);
            },
        }
    })


   
    

    var finalText = new Vue({
        el: "#finalText",
        data: {
            arr: [],
            text: '',
            show: false
        },
        methods: {
            updateText: function (key, element) {
                this.arr[key] = element["Text"];
                this.text="";
                if (key==0){
                    this.arr[key]=this.arr[key].replace("___",inputName.returnName());
                }
                for (el in this.arr){
                    this.text = this.text + " " + this.arr[el];
                }

            }
        }
    })

    var CopyToClipboard = new Vue ({
        el: '#CopyToClipboard',
        methods: {
            Copy: function(){
                document.getElementById("finalTextBox").select();
                var successful = document.execCommand('copy');
                alert('Copied to clipboard')
            }
        }
    })    



    $(document).ready(function () {
        $('#fullpage').fullpage({
            anchors: ['firstPage', 'secondPage', '3rdPage']
        });
    });

    $('.slideDown').click(function(){
        $.fn.fullpage.moveSectionDown()
    });

    $('#BackToStart').click(function() {
        $.fn.fullpage.moveTo('firstPage')
    })

</script>
{% endblock %}
