{% extends "base_no_bs.html" %} {% block head %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='roulette.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% endblock %} {% block content %}
<div id="fullpage">

    <!-- First Section -->
    <section id="section1" class="section">
        <div class="container">
            <row>
                <div class="col-md-offset-2 col-md-8 text-center">
                    <form method="POST">
                        <div class="no-padding">

                            <div class="form-group">
                                <div class="shadow-small">
                                    <label for="participants"><span class="fa fa-address-card-o"></span> Paste participants from clipboard</label>
                                </div>
                                <div class="search">
                                    <input type="text" class="search-box" name="participants" id="participants" />
                                    <span class="search-button">
                                            <span class="search-icon"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="shadow-small">
                                    <label for="participants-entered" class="shadow-small"><span class="fa fa-keyboard-o"></span> Add participants</label>
                                </div>
                                <div class="search">
                                    <input type="text" class="search-box" name="participants-entered" id="participants-entered" />
                                    <span class="search-button">
                                                <span class="search-icon"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="participants-selected" class="shadow-small">Select participants below</label>
                                <select class="form-control" id="participants-selected" multiple>
                                    </select>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6 text-center">
                                    <input type="submit" class="shadow input-shadow" value="Submit">
                                </div>
                            </div>

                    </form>
                    </div>
            </row>
            </div>
    </section>

    <!-- Second Section -->
    <section id="section2" class="section">
        <div class="container">
            <row>
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="slottt-machine-recipe">
                        <row>
                            <div class="slottt-machine-recipe__mask" id="wordbox">
                                <div class="slottt-machine-recipe__items_container recipe_if"></div>
                            </div>
                        </row>
                        <row>
                            <span class="recipe_then">with..</span>
                        </row>
                        <row>
                            <div class="slottt-machine-recipe__mask" id="wordbox2">
                                <div class="slottt-machine-recipe__items_container recipe_if"></div>
                            </div>
                        </row>
                    </div>
                    <div class='shadow text-center'>
                        <div class='btn roulette-btn no-padding' id='btn-rotate'>
                            <div class="recipe_then">Spin the wheel</div>
                            <div><img src="{{url_for('static', filename='roulette.svg')}}" class="spin" /></div>
                        </div>
                    </div>
                </div>
            </row>
    </section>

    <!-- Third Section -->
    <section id="section3" class="section">
        <div class="container">
            <row>
                <div class="col-md-offset-2 col-md-8 text-center">
                    <div class="form-group">
                        <label for="results" class="shadow-small">Select the result</label>
                        <select class="form-control search-box" name="results" id="results"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="shadow input-shadow" value="Send emails" id="btn-sendEmail">
                    </div>
                </div>
            </row>
        </div>
    </section>

    <section id="section4" class="section">
        <!-- Modal -->
        <div id="sendEmailModal" class="modal show">
            <div class="modal-dialog modal-newsletter">
                <div class="modal-content">
                    <form action="/sendemail" method="post">
                        <div class="modal-header">
                            <div class="icon-box">
                                <i class="fa fa-thumbs-o-up "></i>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
                        </div>
                        <div class="modal-body text-center">
                            <h4>Send email &amp; save results</h4>
                            <h3>Results are always available at Predix Cloud</h3>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-primary" value="Send Email &amp; Save Results">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>

    </div>



    <!-- Scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script>
        var data = {{data|safe }};
        var wordlist = [];
        for (let key in data) {
            wordlist.push(data[key]['name']);
        }
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='roulette.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.js"></script>
    <script>
        $(document).ready(function () {
            $("body").show();

            $('#fullpage').fullpage({
                navigation: true,
                anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage'],

                afterLoad: function (anchorLink, index) {
                    var loadedSection = $(this);

                    //using anchorLink
                    if (anchorLink == 'secondPage') {
                        loadedSection.find("#btn-rotate").animateCss("tada");
                        console.log(index);
                    }

                    if (anchorLink = 'fourthPage') {
                        loadedSection.find(".fa").animateCss("swing");
                    }
                },

                onLeave: function (index, nextIndex, direction) {
                    var leavingSection = $(this);

                    leavingSection.animateCss("fadeOut");
                    $(`.section:eq(${nextIndex - 1})`).animateCss("fadeIn");

                }
            });
        });
    </script>
    {% endblock %}